# generic
*~
*.lock
*.sw?

# OSX noise
.DS_Store
.localized

# WIN noise
Thumbs.db

# TeX outputs
tex/*.aux
tex/*.bbl
tex/*.blg
tex/*.dvi
tex/*.log
tex/*.pdf
tex/*.ps
tex/*.toc
tex/images/.*eps-converted-to.pdf
